* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: black;
  position: relative;
  width: 1600px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.header-block {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  width: 1600px;
  height: 80px;
}
.line {
  width: 1600px;
  left: 0px;
  border: 1px solid #ececec;
}
.header-items {
  display: flex;
  align-items: center;
  padding-left: 215px;
  width: 1600px;
  height: 80px;
}
.logo-first {
  display: flex;
  font-size: 26px;
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: black;
}
.navigation-header {
  display: flex;
  margin-left: 0;
  margin-right: 321px;
}
.navigation-header-description {
  padding-left: 46px;
  color: #212121;
  text-decoration: none;
}
.navigation-header-description:focus,
.navigation-header-description:hover {
  color: #2196f3;
}
.header-address {
  display: flex;
  text-decoration: none;
}
.header-address-description {
  display: flex;
  margin-left: 50px;
  color: #757575;
  text-decoration: none;
}
.header-address-description:hover,
.header-address-description:focus {
  color: #2196f3;
}
.front-item {
  background-color: #2f303a;
  color: white;
  height: 600px;
}
.front-item-description {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 30px;
  padding-top: 200px;
  margin-left: 452px;
  margin-right: 452px;
}
.front-service {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  letter-spacing: 0.06em;
  margin-bottom: 200px;
  margin-left: 700px;
  text-decoration: none;
}
.description-index {
  display: flex;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 94px;
  letter-spacing: 0.03em;
  margin-bottom: 94px;
}
.description-index > ul {
  display: flex;
  list-style-type: none;
}
.index-lorem-title {
  display: block;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  margin-left: 30px;
}
.index-lorem-title:first-child {
  margin-left: 0;
}
.index-lorem-description {
  color: #757575;
  line-height: 24px;
}
.index-lorem-margin {
  margin-left: 30px;
}
.index-lorem-margin:nth-child(1) {
  margin-left: 0;
}
.profession-title {
  text-align: center;
  margin-bottom: 50px;
}
.profession {
  margin-left: 215px;
  margin-bottom: 94px;
}
.profession img {
  padding-left: 30px;
}
.profession img:nth-child(1) {
  padding-left: 0;
}
.team {
  background-color: #f5f4fa;
}
.team-items {
  display: flex;
  margin-left: 215px;
  margin-right: 215px;
  justify-content: space-between;
  padding-right: 0;
}
.team-title {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.team-name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-profession {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  margin-top: 10px;
}
.team-block {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-bottom: 94px;
  margin-left: 0px;
}
.team-block :nth-child(4) {
  margin-right: 0;
}
.navigation-index {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  margin-top: 100px;
  margin-bottom: 56px;
  margin-left: 510px;
}
.navigation-portfolio-buttons {
  font-weight: bold;
  background: #f5f4fa;
  border-style: none;
  width: 121px;
  height: 38px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-left: 8px;
}
.navigation-portfolio-buttons a {
  text-decoration: none;
  color: #212121;
}
.navigation-portfolio-buttons:focus,
.navigation-portfolio-buttons:hover {
  background-color: #2196f3;
  color: white;
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
  margin-left: 215px;
  margin-right: 185px;
}
.portfolio-blocks {
  border: 1px solid #eeeeee;
}
.portfolio-examples {
  list-style-type: none;
  padding: 20px 24px 20px 24px;
}
.portfolio-examples-name {
  font-weight: bold;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: #212121;
  line-height: 36px;
}
.portfolio-examples-description {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 30px;
}
.footer-items {
  color: white;
  background-color: #2f303a;
  padding-top: 60px;
  padding-left: 215px;
  padding-bottom: 60px;
  width: 1385px;
}
.logo-second {
  font-size: 26px;
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: white;
}
.web {
  color: #2196f3;
}
.footer-items address {
  padding-top: 20px;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
}
.email {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.phone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.email:focus,
.email:hover {
  color: #2196f3;
}
.phone:focus,
.phone:hover {
  color: #2196f3;
}
